:host {

  .cl-project {
    font-size: 20px;
  }

  .cl-project-name {
    font-size: 30px;
  }

  .cl-project-stats {
    font-weight: bold;
    font-size: 50px;
  }

  .cl-project-total {
    font-weight: bold;
  }

  .cl-quick-stats {
    margin-bottom: 20px;
  }

  .cl-remaining-header {
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 0;
  }

}
